.flex-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.dropdown-menu .flex-container {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar {
    margin-bottom: 0px;
}
#nav-select-tags-div, .nav-select-tags {
    width: 100%;
}
#nav-select-tags-div {
    display: none;
}
